.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field--error {
  border-color: var(--color-error) !important;
}

.input-required {
  color: var(--color-error);
  margin-left: 2px;
}
